extends ../layout

block content
    .main-content
        h3.main-title Reset Password
        p.lead You'll be back in soon!
        hr
    
    form.form-horizontal(method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
            label(class='col-sm-2 control-label', for='password') New Password
            .col-sm-8
                input.form-control(type='password', name='password', id='password', placeholder='New password', autofocus, required)
        .form-group
            label(class='col-sm-2 control-label', for='confirm') Confirm Password
            .col-sm-8
                input.form-control(type='password', name='confirm', id='confirm', placeholder='Confirm password', required)
        .form-group
            .col-sm-offset-2.col-sm-8
                button.btn.btn-primary.btn-reset(type='submit')
                    i.fa.fa-keyboard-o
                    | Change Password
