extends layout

block content
    .main-block
        h3.main-title Corpus
        hr
        p The corpus contains #{corpus.length} document(s)
        br
        .p More information to be displayed here soon...
        hr
        form.form-horizontal( method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
                button.btn.btn-primary(type='submit')
                    i.fa.fa-wrench
                    | Rebuild Corpus
