extends layout

block content
    .main-content
        h3.main-title Summary
        hr
        if summary.summary
            if summary.speakers
                p #{summary.speakers} discussed #{summary.summary}
            else
                p #{summary.summary}
